.container-form-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
    padding: 40px;
    background: linear-gradient(0deg, #2b6ade66, #000000);
}

.form-wrapper,
.form-wrapper2 {
    width: 35%;
    padding: 50px;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.ipt-senha-cadastro {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ipt-senha-cadastro input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.ipt-senha-cadastro button {
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.criar-user {
    border-radius: 5px;
    background-color: #fff;
    height: 30px;
    width: 150px;
}