.container-form-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 background: linear-gradient(to bottom,
      rgb(0, 0, 0) 70%,
      /* transparente no topo */
      #1f1f1f 99%,
      /* suave intermediário */
      #1f1f1f  10%
      /* mais intenso embaixo */
    );
}

.form-cadastro {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.form-cadastro h2{
    color: white;
    margin-bottom: 20px;
}

.enviar-formulario {
    width: 100%;
    padding: 12px;
    background-color: #32c3fc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.enviar-formulario:hover {
    background-color: #007acc;
}

.form-wrapper {
    width: 30rem;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%
}

.form-group label {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.popup-mensagem-sucesso{
    background-color: white;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f6f6f6;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.3s ease;
    outline: none;
}

.form-group input:focus {
 box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.7);
}

.ipt-senha-cadastro {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ipt-senha-cadastro input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.ipt-senha-cadastro button {
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.criar-user {
    border-radius: 5px;
    background-color: #fff;
    height: 30px;
    width: 150px;
}

.erro-mensagem {
    color: #fc1e1ef1;
}
 
.link-login {
    color: #ffffff;

}

.link-login a {
    color: #2f89ff;
}