.container-form-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, #2337a7cb 1%, #0F1111 80%);
}

.form-cadastro{
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-wrapper {
    width: 30rem;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%
}

.form-group label {
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.ipt-senha-cadastro {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ipt-senha-cadastro input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.ipt-senha-cadastro button {
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.criar-user {
    border-radius: 5px;
    background-color: #fff;
    height: 30px;
    width: 150px;
}

.barra {
    height: 16px;
    width: 50%;
    border-radius: 8px;
    margin: 10px auto;
    background-image: linear-gradient(to right, #bada55 0, #bada55 50%, gray 50%);
    background-size: 202% 100%;
    background-position: 99% 0;
    animation: anima 9s ease-in-out infinite;
}

@keyframes anima {
    0% {
        /* movemo o background para mostrar apenas 100% de uma cor */
        background-position: 99% 0;
    }

    /* do 0% do tempo da animação até 16,66% do tempo a barra permance parada */
    16.66% {
        background-position: 99% 0;
    }

    /* esse intervalo representa 4 segundos do tempo da animação até a barra fica 100% cheia */
    83.34% {
        background-position: 0 0;
    }

    /* esse intervalo de 83,34% a 100% representa 1 segundo da animação e a barra fica cheia por 1s antes de reiniciar*/
    100% {
        /* de 75% a 100% eu repito o estado da propriedade para vc ter um tempo de ver a barra 100% completa antes de reiniciar a animação */
        background-position: 0 0;
    }
}