.application-main {
  background-color: #0F0F0F;
  height: 100vh;
  color: #24292f;
}

.container-criar-projeto {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 6px;
}

.container-criar-projeto-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-criar-projeto label {
  color: #d8dee4;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #fff;
}

.nome-sugerido{
  color: #0056b3;
  margin-left: 5px;
}

.subtitle a {
  color: #0969da;
  text-decoration: none;
}

.subtitle a:hover {
  text-decoration: underline;
}

/* Divisória */
.divider {
  border: none;
  border-top: 1px solid #d8dee4;
  margin: 24px 0;
}

/* Nota obrigatória */
.required-note {
  font-size: 12px;
  font-style: italic;
  color: #57606a;
  margin-bottom: 16px;
}

/* Formulário */
.form-criar-projeto {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Grupos de input */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
}

.formulario-projeto span {
  font-weight: 500;
  font-size: 12px;
  color: #57606a;
  margin-left: 10px;
}


.formulario-projeto input,
.formulario-projeto select {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #3c3c3c;
  border-radius: 6px;
  background-color: #0F0F0F;
  color: #fafafa;
}

.formulario-projeto input:focus,
.formulario-projeto select:focus {
  border-color: #0969da;
  outline: none;
  box-shadow: 0 0 0 3px rgba(9, 105, 218, 0.3);
}

.form-suggestion p {
  margin-bottom: 4px;
  font-size: 13px;
  color: #fafafa;
  background-color: #0F0F0F;
}

.form-suggestion button {
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #24292f;
}

.form-suggestion button:hover {
  background-color: #f3f4f6;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-radio {
  margin-bottom: 12px;
}

.form-radio input {
  margin-right: 8px;
}

.form-radio label {
  font-weight: 600;
  font-size: 14px;
}

.form-radio p {
  font-size: 13px;
  margin-left: 24px;
  color: #57606a;
  margin-top: 4px;
}

.btn-primary {
  background-color: #2B6ADE;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}

.btn-primary:hover {
  background-color: #1D2F96;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hidden-input {
  display: none;
}

.upload-label {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #0056b3;
}


.container-image {
  width: 100%;
  height: 200px;
  border: 3px dashed #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 8px;
  position: relative;
}

.image-preview-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-preview-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: contain;
  display: block;
}