* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0f0f0f;
  align-items: center;
  overflow-x: hidden;
}

.home-container {
  display: flex;
  align-items: center;

}

.title-home {
  margin-left: 145px;
  margin-top: 110px;
  color: #F6F6F6;
  font-size: 67px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: none;
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.6),
    0 0 10px rgba(255, 255, 255, 0.4);
}

.subtitle-home {
  margin-left: 150px;
  margin-top: 20px;
  font-size: 22px;
  color: #F6F6F6;
  background-color: transparent;
  border-radius: 5px;
  margin-left: 150px;
}

.container-img {
  position: absolute;
  object-fit: cover;
  width: 525px;
  height: auto;
  left: 58%;
  top: 225px;
  z-index: 1;
  /* Garante que a imagem fique na frente */
}

.degrade-container {
  width: 520px;
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
  background-image: radial-gradient(circle at center, #40c9ff, rgba(139, 244, 252, 0.164));
  margin-left: 66%;
  margin-top: -12%;
  filter: blur(48px);
}

.buttons-landig {
  margin-left: 150px;
  margin-top: -155px;
}

.posts-container {
  color: #fff;
  background-color: #3b3b3b;
  font-size: 20px;
  height: 50px;
  width: 200px;
  border-radius: 8px;
  margin-left: 30px;
}

.projetos-container {
  color: #fff;
  background-color: #3b3b3b;
  font-size: 20px;
  height: 50px;
  width: 200px;
  border-radius: 8px;
}

.posts-container:hover{
 background-color: #202020;
 transition: 0.3s;
}

.projetos-container:hover{
  background-color: #202020;
  transition: 0.3s;
}


input {
  background-color: #fff;
}