* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.login-container {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #05071E;
    padding: 20px;
}

.login-left {
    flex: 1;
    text-align: center;
}

.logo-login {
    width: 35pc;
    margin-bottom: 50px;
}

.login-left p {
    font-size: 20px;
    color: #ffffff;
}

.login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 20pc;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #00A3F5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    color: white;
    font-size: 14px;
}

.divider span {
    flex: 1;
    height: 1px;
    background: white;
    margin: 0 10px;
}

.google-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.google-btn img {
    width: 40px;
}