* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 22px;
}

.login-container {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(0deg, #2337A7 1%, #0F1111 80%);
}

.login-left {
    flex: 1;
    text-align: center;
}

.logo-login {
    width: 35pc;
    margin-bottom: 50px;
}

.login-left p {
    font-size: 20px;
    color: #ffffff;
}

.login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 20pc;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #00A3F5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    color: white;
    font-size: 14px;
}

.divider span {
    flex: 1;
    height: 1px;
    background: white;
    margin: 0 10px;
}

.container-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.container-btn img {
    width: 40px;
    margin: 10px;
}

.ipt-email {
    background-color: rgb(255, 255, 255);
    padding: 13px;
    margin: 34px 0;
    display: flex;
    border-radius: 10px;
}

.ipt-senha {
    background-color: rgb(255, 255, 255);
    padding: 13px;
    margin: 10px 0;
    display: flex;
    border-radius: 10px;
}

.container-input input {
    width: 900%;
    background-color: white;
    border: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    outline: none;
    margin-right: 8px;
}

.button {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
}

.btn-rec-senha {
    text-decoration: underline;
    border: 0;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}