.container-projetos {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  width: 100vw;
  height: 100vh;

}

.projetos {
  color: #cecece;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #000000;
}

h2 {
  margin-bottom: 10px;
  color: #000000;
}

p {
  margin: 10px 0;
  color: #000;
}

input {
  box-sizing: border-box;
}

.lista-tarefas {
  padding-bottom: 1.5rem;
  width: 400px;
}

input,
select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 100%;
}


.Lista {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 15px;
  transition: 0.3s;
}

.Lista:hover {
  padding: 17px;
  margin-left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.599);
  border-radius: 10px;
}

.content p {
  color: #000;
}

.filter-option {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-option div {
  flex: 1 1 0;
}

p {
  color: #fff;
}