.container-projetos {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  width: 100vw;
  height: 100vh;

}

.projetos {
  color: #cecece;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #000000;
}

h2 {
  margin-bottom: 10px;
  color: #000000;
}

p {
  margin: 10px 0;
  color: #000;
}

input {
  box-sizing: border-box;
}

.lista-tarefas {
  padding-bottom: 1.5rem;
}

input,
select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 100%;
}

.completar {
  background-color: #83eb63;
  color: #000;
}

.excluir {
  background-color: #e23124;
}

.separador {
  padding-bottom: 0px;
  border: 1px solid #ffffff;
}

.Lista {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}

.content p {
  color: #000;
}

.filter-option {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-option div {
  flex: 1 1 0;
}

p {
  color: #fff;
}