.titiulo-edicao{
 color: #f6f6f6;
}

.container-projeto-edicao-alinhamento{
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
 width: 80px;
  height: 50px;
}

.container-projeto-edicao-alinhamento label {
  color: #f6f6f6;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: block;
}

.container-projeto-edicao-alinhamento input {
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 30px;
  background-color: #f6f6f6;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.4);
  transition: box-shadow 0.3s ease;
  outline: none;
}

.container-projeto-edicao-alinhamento input:focus {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.7);
}

.alinhamento-esquerda-edicao,
.alinhamento-direita-edicao {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.alinhamentos{
 display: flex;
  gap: 80px;
}

.container-button-edicaoProjeto{
 background-color: #2B6ADE;
  color: #f6f6f6;
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}

.container-button-edicaoProjeto:hover {
  background-color: #17408c;
}