.container-footer-2 {
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  line-height: 34px;
}

.container-footer {
  width: 100vw;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 22%;

}

.container-contatos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20%;
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: -0.9%;
}

.container-info-menu{ 
  display: flex;
  flex-direction: row; 
}

.alinhamento-1{
  width: 50%
}

.alinhamento-2{
  margin-left: 80px;
}

.container-menu li {
  list-style-type: none;
  padding: 5px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F6F6F6;
}


.img-menu,
.img-chat,
.img-posts{
 height: 20px;
 width: 20px;
 margin-right: 5px;
}

.container-localizacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-contatos h3,
.container-menu h3,
.container-localizacao h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  color: #F6F6F6;
  text-align: center;
}

.container-contatos li,
.container-localizacao li {
  list-style-type: none;
  padding: 5px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F6F6F6;
}

.line-2 {
  border-left: 0.8px solid #7a7a7a;
  height: 190px;
  margin: 0 20px;
}

.line-3 {
  border-left: 0.8px solid #7a7a7a;
  margin: 0 190px;
}

.line-4 {
  border-top: 0.8px solid #7a7a7a;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}

.container-paragrafo {
  margin-left: 40%;
  margin-top: 20px;
  background-color: transparent;
  color: #F6F6F6;
}