.container-footer {
  width: 100vw;
}

.container-footer-2 {
  padding: 40px 20px;
  display: flex;

  align-items: flex-start;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  line-height: 34px;
}

.footer-section {
  display: flex;
  margin-left: 16%;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 50%;

}

.container-contatos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12%;
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3%;
}

.container-localizacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 6%;
}

.container-info-menu{ 
  display: flex;
  flex-direction: row; 
}

.alinhamento-1{
  width: 50%
}

.alinhamento-2{
  margin-left: 20px;
}


.container-contatos h3,
.container-menu h3,
.container-localizacao h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  color: #F6F6F6;
  text-align: center;
}

.container-contatos li,
.container-menu li,
.container-localizacao li{
  list-style-type: none;
  padding: 5px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F6F6F6;
}

.line-1 {
  border-left: 0.8px solid #7a7a7a;
  height: 190px;
  margin: 0 20px;
}

.line-2 {
  border-left: 0.8px solid #7a7a7a;
  height: 190px;
  margin: 0 30px;
}

.line-3 {
  border-top: 0.8px solid #7a7a7a;
  width: 90%;
  margin-right: 3%;
  margin-top: 20px;
}

.container-paragrafo {
  margin-left: 30%;
  margin-top: 20px;
  background-color: transparent;
  color: #F6F6F6;
}