.navbar {
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.nav-logo{
    width: 7%;
}

.logo-navbar {
    height: 45px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    flex: 1;
    max-width: 30rem;
    min-width: 10px;
    margin-right: 5%;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 17px;
    flex: 2;
}

.search-bar button {
    background-color: #ffffff;
    border: none;
    height: 30px;
    width: 40px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.foto-perfil{
    height: 40px;
}

/* Responsividade */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .search-bar {
        width: 90%;
        margin-top: 5px;
    }

    .user-icon {
        margin-top: 5px;
    }
}
